<?xml version="1.0"?>
<config>
    <modules>
        <Tigo_TigoMoney>
            <version>0.1.0</version>
        </Tigo_TigoMoney>
    </modules>
    <global>
        <models>
            <tigo_tigomoney>
                <class>Tigo_TigoMoney_Model</class>
            </tigo_tigomoney>
        </models>
        <blocks>
            <tigo_tigomoney>
                <class>Tigo_TigoMoney_Block</class>
            </tigo_tigomoney>
            <checkout>
                <rewrite>
                    <onepage_failure>Tigo_TigoMoney_Block_Rewrite_Checkout_Onepage_Failure</onepage_failure>
                    <onepage_success>Tigo_TigoMoney_Block_Rewrite_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <tigo_tigomoney>
                <class>Tigo_TigoMoney_Helper</class>
            </tigo_tigomoney>
        </helpers>
    </global>
    <frontend>
        <routers>
            <tigomoney>
                <use>standard</use>
                <args>
                    <module>Tigo_TigoMoney</module>
                    <frontName>tigomoney</frontName>
                </args>
            </tigomoney>
        </routers>
        <translate>
            <modules>
                <Tigo_TigoMoney>
                    <files>
                        <default>Tigo_TigoMoney.csv</default>
                    </files>
                </Tigo_TigoMoney>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tigomoney before="Mage_Adminhtml">Tigo_TigoMoney_Adminhtml</tigomoney>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <add_sync_with_tigomoney_button>
                        <class>tigo_tigomoney/observer_adminOrderView</class>
                        <method>addSyncButton</method>
                    </add_sync_with_tigomoney_button>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
        <translate>
            <modules>
                <Tigo_TigoMoney>
                    <files>
                        <default>Tigo_TigoMoney.csv</default>
                    </files>
                </Tigo_TigoMoney>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <tigo_tigomoney_sync_old_pending_orders>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>tigo_tigomoney/cron_syncOldPendingOrders::run</model></run>
            </tigo_tigomoney_sync_old_pending_orders>
            <tigo_tigomoney_sync_recent_pending_orders>
                <schedule><config_path>payment/tigo_tigomoney/sync_recent_pending_orders_cron_schedule</config_path></schedule>
                <run><model>tigo_tigomoney/cron_syncRecentPendingOrders::run</model></run>
            </tigo_tigomoney_sync_recent_pending_orders>
        </jobs>
    </crontab>
    <default>
        <payment>
            <tigo_tigomoney>
                <model>tigo_tigomoney/payment_redirect</model>
                <active>0</active>
                <title>Tigo Money</title>
                <description>To complete the payment using TIGO Money, a SMS will be sent to your mobile phone which will contain a PIN you will use to finish the transaction.</description>
                <test_mode>0</test_mode>
                <debug_mode>0</debug_mode>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>SV</specificcountry>
                <payment_action>authorize</payment_action>
                <after_place_redirect_url_path>tigomoney/redirect/index</after_place_redirect_url_path>
                <sync_recent_pending_orders_cron_schedule>*/5 * * * *</sync_recent_pending_orders_cron_schedule>
                <failure_continue_shopping_url />
                <success_continue_shopping_url />
            </tigo_tigomoney>
        </payment>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Tigo_TigoMoney/>
            </modules>
        </suite>
    </phpunit>
</config>